/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --hero-banner-height: 580px;
  --section-padding-y: 10rem;
}

* {
  font-family: 'Poppins', sans-serif;
}

nav, footer a {
  transition: all 0.5s;
}

input#theme-switch {
  cursor: pointer;
}

section:not(:first-of-type) {
  padding: var(--section-padding-y) 0;
}

@media (max-width: 768px) {
  section:not(:first-of-type) {
    padding: calc(var(--section-padding-y) / 2) 0;
  }
}

section#hero-banner {
  background-image: url('../assets/hero-banner-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: var(--hero-banner-height);
}

section#hero-banner div#banner img.rotate {
  animation: rotation 2s ease-in-out;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@media (max-width: 991px) {
  img.binding-img {
    width: 100%;
  }
}

section#experience form {
  width: 50%;
}

@media (max-width: 992px) {
  section#experience form {
    width: 75%;
  }
}

@media (max-width: 768px) {
  section#experience form {
    width: 100%;
  }
}

footer {
  color: #444;
}

footer a {
  color: rgba(255, 255, 255, 0.5) !important;
}

footer a:hover {
  color: #f8f9fa !important;
}

footer img.skenmath-logo {
  filter: grayscale(100%);
  mix-blend-mode: soft-light;
}

footer img.skenmath-logo:hover {
  filter: none;
  mix-blend-mode: none;
}