:root {
  --primary-color: #fff;
  --secondary-color: #f8f9fa;
  --text-color: #444;
  --blend-mode: normal;
}

[data-theme="dark"] {
  --primary-color: #222;
  --secondary-color: rgb(37, 37, 37);
  --text-color: #f8f9fa;
  --blend-mode: soft-light;
}

section, a, a:hover, article, nav {
  color: var(--text-color);
}

img:not([src$="skenmath-logo.svg"]) {
  mix-blend-mode: var(--blend-mode);
}

body {
  background-color: var(--primary-color);
}

section#hero-banner {
  background-blend-mode: var(--blend-mode);
}

section:nth-child(odd) {
  background-color: var(--secondary-color);
}
