/* 
  Author: Adi Aryasuta
  Created: October 17, 2021
  Modified: October 20, 2021 
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  color: #444;
  transition: all 0.5s;
}

header,
section {
  margin-bottom: 10rem !important;
}

header {
  background-color: #c4c4c4;
}

section#banner div.container-fluid {
  height: 300px;
}

footer a:hover {
  text-decoration: underline !important; 
}

footer img#skenmath-logo {
  filter: grayscale(100%);
}